<!DOCTYPE html>
<html>
<head>
<title>MultiModalSearch</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='jquery-2.1.4.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='my.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.autocomplete.min.js') }}"></script>
</head>
<body>

<div id="container">
   <div id="image"> <img src="{{ url_for('static', filename='slide.png') }}" alt="I-SEARCH, A multi-modal search engine" width="100%" height="200" /> </div>
</div>
<br><br>

<div id="searchDiv">
<form method="post" ,="" action="/search" enctype="multipart/form-data" id="searchForm" class="form-horizontal"> 
<!-- <form action="", enctype="multipart/form-data", id="searchForm"> -->
   <div class="form-group">
         <div class="col-sm-12">
			  	<input type="text" , id="textInput" name="textInput" placeholder = "Enter text query" > 
         </div>
   </div>
   <div class="form-group">
         <div class="col-sm-4 col-centered text-center">
            <label class="btn btn-default btn-lg" for="imageFile" width="100%">
	  	     		<input type="file" , id="imageFile" name="imageFile" type="file" style="display:none;">
               Image File
            </label>
         </div>

         <div class="col-sm-4 col-centered text-center">
         <label class="btn btn-default btn-lg" for="audioFile">
				<input type="file" , id="audioFile" name="audioFile" style="display:none;">
            Audio File
         </label>
         </div>

         <div class="col-sm-4 col-centered text-center">
         <label class="btn btn-primary btn-lg" for="searchButton">
		  		<input type="submit" , id="searchButton" style="display:none;"> 
            Search
         </label>
         </div>
   </div>
</form>
</div>
<br><br>
<div id="nav">
<div id="h4div">
<h2>
   Results
</h2>
</div>
<br>
<table id='searchResTable'>
{% for item in results %}
         {{ item }} 
{% endfor %}
</table>
</div>

</body>
</html>
